<div class="container">
  <%= form_for @channelplan do |f| %>
    <div class="row">
    <div class="col s12">
      <div class="card grey lighten-3">
        <div class="card-content white-text">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix red-text">linear_scale</i>
              <%= f.text_field :channel %>
              <label class="active" for="title"> <%= f.label :channel %></label>
            </div>
          <div class="row">
            <div class="input-field col s6">
            <i class="material-icons prefix orange-text">fingerprint</i>
              <%= f.text_area :name, class: 'materialize-textarea' %>
              <label class="active" for="title"> <%= f.label :name %></label>
            </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <i class="material-icons prefix green-text">group_work</i>
                <%= f.text_field :structure %>
                <label class="active" for="title">  <%= f.label :structure %></label>
              </div>
              <div class="input-field col s12">
                <i class="material-icons prefix blue-text">record_voice_over</i>
                <%= f.text_field :tone %>
                <label class="active" for="title">  <%= f.label :tone %></label>
              </div>
                <div class="input-field col s12">
                <i class="material-icons prefix purple-text">gps_fixed</i>
                <%= f.text_field :action %>
              <label class="active" for="title">  <%= f.label :'Desired action' %></label>
            </div>
            </div>
            <div class="row">
              <div class="col s5"></div>
              <div class="col s5"><%= f.submit :'Save Channel Plan', class:"btn btn-default", class: 'btn-large light-blue'%></div>
              <div class="col s4"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  <% end %>
</div>
