<%= form_with(model: @elgibilitylist) do |form| %>
  <% if @elgibilitylist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(elgibilitylist.errors.count, "error") %> prohibited this elgibilitylist from being saved:</h2>

      <ul>
        <% elgibilitylist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <h4>Entries</h4>
  <div id="entries">
    <%= form.fields_for :entries do |entry_form| %>
      <%= render "entries/form", form: entry_form %>
    <% end %>
  </div>

  <%= form.submit "Add entry", 
      formaction: entry_path(@elgibilitylist.entries.size), 
      formmethod: :post, 
      formnovalidate: true, 
      id: "add-entry" %>

  <div>
    <%= form.submit %>
  </div>
<% end %>