<!DOCTYPE html>
<html>
  <head>
    <title>Reporting Dashboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class=" navbar-fixed black flat m4" style="margin-bottom: 2%;">
    <div class="nav-wrapper">
      <a href="<%= channelplans_url %>" class="brand-logo"><i style="font-size:50px;" class=" large material-icons grey-text">description</i><span class="white-text">Reporting </span><span class="light-blue-text">Dashboard</span></a>

    </div>
    <div class="nav-content">
      <span class="nav-title"></span>
      <% if params[:action] != 'dashboard' %>
      <a href="<%= dashboard_url %>" class="btn-floating btn-large halfway-fab waves-effect waves-light purple darken-4">
        <i class="material-icons">edit</i>
      </a>
      <% else %>
            <a href="<%= manage_url %>" class="btn-floating btn-large halfway-fab waves-effect waves-light purple darken-4">
        <i class="material-icons">supervised_user_circle</i>
      </a>
        <% end %>
    </div>
  </nav>
    <%= yield %>
  </body>
</html>
